html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
}

#app-container {
  width: 100%;
}

.flex-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .flex-grid-third {
    width: 32%;
    display: flex;
  }
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 25px auto 0 auto;
  max-width:750px;

  .section-header {
    display: flex;
    flex-direction: row;
  }

  .header-text {
    font-weight: bold;
    font-size: 1.6em;
  }

  &.spinner-container {
    flex-direction: row;
    justify-content: center;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
