$font-size: 16px;


.results-page {
  font-size: $font-size;

  .header-text {
    justify-content: center;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
  }

  .answer-container {

  }
}
