$font-size: 16px;
$section-margin: 25px;

.results-page {
  font-size: $font-size;

  .header-text {
    justify-content: center;
  }

  .answers-container {
    display: flex;
    flex-direction: column;
    margin-top: $section-margin;

    .answer {
      display: flex;
      flex-direction: row;

      .answer-text {
        line-height: 25px;
      }
    }
  }
}
