.probability-graph {
  margin-top: 25px;
  overflow: hidden;

  .line {
    fill: none;
    stroke-width: 2;
    clip-path: url(#clip);

    &.prob-start {
      stroke: #5FCF80;
    }

    &.prob-end {
      stroke: #428F59
    }

    &.q2c {
      stroke: #0984e3;
    }
  }

  .axis-label {
    font-size: 12px;
    text-anchor: middle;
  }

  text {
    user-select: none;
  }
}