$font-size: 16px;
$section-margin: 20px;
$red-colour: #FF6666;

.demo-body, .intro-container, .predict-action, .answer, .answers-container {
  display: flex;
  flex-direction: column;
}

.demo-body {
  overflow: hidden;
  margin: 0 auto;
  padding: 0 15%;
  font-size: $font-size;
  min-height: 100vh;

  h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 14px;
    font-size: 1.8em;
  }

  .intro-container {
    h3 {
      margin-bottom: 8px;
    }

    p {
      margin: 0;
    }
  }

  .button {
    margin: $section-margin auto 0 auto;
  }

  .back-button {
    margin: 0;
  }

  .input-page {
    .predict-action {
      align-items: center;
    }

    .error-message {
      color: $red-colour;
      text-align: center;
      margin: 5px 0 0 0;
    }
  }

  .results-page {
    font-size: $font-size;

    .header-text {
      justify-content: center;
    }

    .query {
      margin-top: $section-margin;
    }

    .answers-container {
      margin-top: $section-margin;

      .answer {
        flex-direction: row;
        margin-top: 10px;

        &:first-child {
          margin: 0;
        }

        .answer-text {
          line-height: 25px;
        }
      }
    }

    .word-heat:first-child {
      margin-top: $section-margin;
    }
  }
}
